div {
    [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.container {
    padding: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.card {
    background-color: $component-color;
}

.card-body {
    padding: 0.75rem;
}

.btn {
    border-radius: 60px;
}

.card-header {
    padding: 0.4rem 1rem;
    border-radius: 0 !important;
}

.card-footer {
    padding: 0.4rem 0rem;
    margin: 0 1rem;
    background-color: $component-color;
}

.table {
    color: black;
    :hover{
        color: darkgray;
    }
}