$border-radius: 8px;
$body-color: #f8f9fa;
$component-color: #fff;
$navbar-color: #009fd4;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '_b';

#__next, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $body-color;
    color: black;
    //background-color: rgba($color: darkgrey, $alpha: 0.05) !important;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba($color: darkgrey, $alpha: 0.05) !important;
}

ul {
    padding-left: 0;
}

.field-error {
    color: red;
    border-radius: 50px;
}

.field-error::before {
    content: "* "
}

.clear-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.fr-toolbar {
    border-top: 0px !important;
}

.nav-bg {
    background-color: $navbar-color;
}

.nav-link {
    font-size: 0.85rem;
}

.navbar {
    padding: 0.25rem 1rem;
}

.input-group-text {
    min-width: 75px;
}

.img-fluid {
    max-height: 300px;
}

.recharts-wrapper {
    margin: auto;
}

input {
    padding: 1.5rem;
}

.progress {
    height: 2rem;
    font-size: 1rem;
}

.error {
    border-bottom: 2px solid red;
}

.masonry-card-list {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.svg-icon {
    width: 24px;
    height: 24px;
}

.bg-parallax {
    height: 100%;
    width: 100%;
}

.br{
    border-top: 3px solid lightgrey;
}

